@model RichBlogCategoryAdminModel

@if (Model.Id > 0)
{
    <div class="cards-group">
        <div class="card card-default  advanced-setting">
            <div class="card-header">
				<div class="card-title">
					@T("SevenSpikes.Plugins.RichBlog.Admin.Settings.Mappings")
				</div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreMappingModel.SelectedStoreIds" />
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                               <nop-select asp-for="StoreMappingModel.SelectedStoreIds" asp-items="Model.StoreMappingModel.AvailableStores" asp-multiple="true" />
                                <script>
                                    $(document).ready(function() {
                                        var storesIdsInput = $('#@Html.IdFor(model => model.StoreMappingModel.SelectedStoreIds)').select2({
                                            closeOnSelect: false,
                                            @if (!Model.StoreMappingModel.AvailableStores.Any()) 
                                            {
                                                <text>
                                                    disabled: true,
                                                    placeholder: 'No stores available',
                                                </text>
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-md-8">
                                @await Component.InvokeAsync("MultistoreDisabledWarning")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}