
@media all and (min-width: 480px) {

    .header-upper {
        padding: 0 18px;
    }

    .sub-category-grid .item-grid {
        grid-template-columns: repeat(auto-fit, minmax(49%,1fr));
        grid-row-gap: 10px !important;
    }

    .product-grid .buttons .wrapper {
        display: flex;
        flex-flow: column;
    }

    .item-box .color-attributes {
        display: block;
    }

    .gallery .picture-thumbs,
    .gallery .video-thumbs {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .rental-attributes .datepicker {
        width: 100%;
    }

    .checkout-as-guest-button,
    .checkout-as-guest-button + button {
        min-width: 200px;
    }

    .private-messages-page .date {
        display: table-cell;
    }

    .private-messages-page col.date {
        display: table-column;
    }
}

@media all and (min-width: 768px) {

    /* GLOBAL STYLES */

    .page {
        text-align: left;
    }

    .page-title h1 {
        font-size: 30px;
        line-height: 32px;
        font-weight: 700;
        color: #000000;
        padding: 0;
    }

    .center-1 .page-title {
        padding: 35px 0;
    }

    .center-2 .page-title {
        padding: 30px 0;
    }

    .product-grid .title,
    .topic-block .title,
    .home-page .title {
        padding: 4px 0;
    }

    .home-page .slider-wrapper {
        padding-top: 25px;
    }

    /* NOTIFICATIONS & POPUPS */

    .eu-cookie-bar-notification .content {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 20px;
    }

    /* TABULATION */

    .ui-widget.ui-tabs {
        padding: 3% 3%;
    }

    .ui-tabs .ui-tabs-nav {
        margin-bottom: 25px;
    }

    /* FOOTER */
    .footer-top {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-left: 28%;
        padding-right: 28%;
        line-height: 1.6;
        background-color: #000000;
        gap: 40px;
        border-radius: 0 !important;
    }

        .footer-top h2.title {
            color: #ffffff;
            font-size: 38px !important;
            line-height: 40px;
            font-weight: 700 !important;
            text-align: center;
            align-items: center;
            letter-spacing: 3px;
            text-decoration: none;
            text-transform: uppercase;
        }

        .footer-top p {
            color: #ffffff;
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            letter-spacing: 0.6px;
            text-align: left;
        }

    .aboutus {
        display: flex;
        align-items: flex-start; /* ikonla metni üst hizadan başlatır */
        gap: 6px; /* ikon ile metin arası boşluk */
    }

        .aboutus svg {
            flex-shrink: 0; /* ikon sabit kalsın, küçülmesin */
            margin-top: 2px; /* yazı ile dikey olarak hizalanması için küçük offset */
        }

        .aboutus a {
            color: #000;
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
            display: inline-block;
        }

    .footer .newsletter {
        width: 100%;
        margin: auto;
    }

        .footer .newsletter:before {
            content: "";
            position: absolute;
            top: 15px;
            right: -15px;
            bottom: -15px;
            left: 15px;
            z-index: -1;
        }

    .footer-middle {
        padding-top: 50px;
    }

    .footer-blocks {
        display: flex;
        max-width: 1200px;
        margin: auto;
    }

    .footer-block {
        flex: 1 0 25%;
        padding-left: 5%;
    }

        .footer-block .title {
            margin: 0;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0px;
            font-weight: 700;
            text-transform: none;
            color: #000000;
            padding: 8px 24px 8px 0;
        }

        .footer-block .list {
            display: block !important;
            height: auto !important;
        }

            .footer-block .list svg {
                border-radius: 0 !important;
                margin-right: 10px;
            }

            .footer-block .list a {
                font-size: 16px;
                color: #000000;
            }

                .footer-block .list a:hover,
                .footer-block .list a:focus,
                .footer-block .list a:active {
                    color: #000000; /* hover’da da siyah kalır */
                    text-decoration: none; /* alt çizgi olmasın istersen */
                }

        .footer-block .social-networks {
            display: block !important;
            height: auto !important;
        }

            .footer-block .social-networks svg {
                border-radius: 0 !important;
                /*margin-right: 10px;*/
            }

            .footer-block .social-networks a {
                font-size: 16px;
                color: #000000;
            }

                .footer-block .social-networks a:hover,
                .footer-block .social-networks a:focus,
                .footer-block .social-networks a:active {
                    color: #000000; /* hover’da da siyah kalır */
                    text-decoration: none; /* alt çizgi olmasın istersen */
                }

    .footer-lower {
        position: relative;
        padding: 15px 25px;
    }

    .footer-texts {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-text {
        flex: 1 0 33.333%;
        padding: 0;
    }

        .footer-text.credits {
            display: flex;
            text-align: left;
        }

        .footer-text .txt + .txt {
            margin-left: 15px;
            border-left: 1px solid #bbb;
            padding-left: 15px;
        }

        .footer-text.copyright {
            text-align: left;
        }

        .footer-text.topic {
            text-align: right;
            color: #FFFFFF;
            background-color: #000000;
            font-size: 10px;
            line-height: 17.5px;
            font-weight: 400;
            padding: 0;
        }

    .footer-disclaimer {
        font-size: 10px;
        /*line-height: 14px;*/
        font-weight: 400;
        color: #A0A0A0; /* daha açık gri */
        background-color: #000000;
    }

    .theme-selector {
        margin-top: 0;
    }

        .theme-selector select {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }

    /* CATEGORY PAGE & GRIDS */

    .product-selectors {
        justify-content: flex-end;
    }

        .product-selectors select {
            /*min-width: 20px;
            height: 30px;
            line-height: 18px;*/ /*text vertical alignemt*/
            /*background-color: #fff;*/
        }

    .product-viewmode {
        display: flex;
        column-gap: 5px;
        align-items: center;
        margin-right: auto;
    }

        .product-viewmode span {
            display: none !important;
        }

        .product-viewmode a {
            padding: 5px;
            font-size: 0;
        }

            .product-viewmode a:before {
                font-size: 20px;
            }

        .product-viewmode .grid:before {
            content: "\e937";
        }

        .product-viewmode .list:before {
            content: "\e939";
        }

        .product-viewmode .selected {
            color: #e43d51;
        }

    .product-sorting,
    .product-page-size {
        width: auto;
    }

    .category-grid .item-grid,
    .manufacturer-grid .item-grid,
    .vendor-grid .item-grid,
    .product-grid .item-grid {
        grid-template-columns: 1fr 1fr 1fr;
        /*grid-row-gap: 50px;*/
        column-gap: 2%;
    }

    .sub-category-grid .item-grid {
        grid-template-columns: repeat(auto-fit, minmax(23.5%, 1fr));
        grid-row-gap: 15px !important;
    }

    .home-page-product-grid:not(.nop-jcarousel) .title,
    .home-page .bestsellers:not(.nop-jcarousel) .title {
        /*margin-bottom: 50px;*/
    }

    .home-page-product-grid:not(.nop-jcarousel) .item-grid,
    .home-page .bestsellers:not(.nop-jcarousel) .item-grid {
        grid-column-gap: 2%;
        grid-row-gap: 60px;
    }

    .home-page-product-grid:not(.nop-jcarousel) .item-box:nth-child(3n+2),
    .home-page .bestsellers:not(.nop-jcarousel) .item-box:nth-child(3n+2) {
        position: relative;
        /*bottom: 40px;*/
    }

    .product-list .item-box + .item-box {
        margin-top: 20px;
    }

    .product-list .item-box .product-item {
        display: grid;
        width: 100%;
        grid-template-columns: 32% auto;
        grid-column-gap: 35px;
    }

    .product-list .item-box .picture {
        margin: 0;
    }

    .product-list .item-box .details {
        padding: 25px 0;
    }

    .product-list .item-box .product-title {
        flex-grow: 0;
        margin-bottom: 25px;
        font-size: 14px;
        color: #000;
    }

    .product-list .item-box .description {
        display: block;
    }

    .product-list .item-box .add-info {
        display: block;
        margin-top: 20px;
    }

    .product-list .item-box .buttons {
        margin-top: 30px;
        text-align: left;
    }

    .product-list .product-box-add-to-cart-button {
        vertical-align: middle;
    }

    .product-list .buttons .wrapper {
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        bottom: 1px;
        left: 1px;
    }

    .product-list .add-to-wishlist-button,
    .product-list .add-to-compare-list-button {
        margin-left: 15px;
    }

    /* PRODUCT PAGE */

    .product-essential {
        max-width: none;
        margin-bottom: 40px;
    }

    .gallery {
        float: left;
        width: 46%;
        max-width: none;
        margin-bottom: 0;
        padding-top: 3%;
    }

    .overview {
        float: right;
        width: 51.5%;
        max-width: none;
        padding-top: 3%;
    }

    .product-name.mobile {
        display: none !important;
    }

    .product-name.desktop {
        display: block !important;
        margin: 8px 0 10px;
        padding: 5px 0 !important;
        text-align: left;
    }

    .price-reviews-wrapper {
        margin-bottom: 0;
        border: none;
    }

        .price-reviews-wrapper .prices,
        .product-reviews-overview {
            justify-content: flex-start;
        }

    .prices {
        display: block !important;
    }
    .prices .product-price strong {
        display: block;
        font-size: 18px;
        font-weight: 700;
        /*margin-top: 4px;*/
    }

       /* .prices .price-line {
            display: block;
            margin-bottom: 6px;
        }

        .prices .new-price-line strong {
            color: #e43d51;
            font-size: 22px;
            font-weight: 700;
            line-height: 26px;
        }

        .prices .old-price-line {
            font-size: 14px;
            color: #999;
            margin-right: 4px;
        }

            .prices .old-price-line .old-product-price {
                text-decoration: line-through;
                color: #999;
                font-weight: 500;
            }
*/
    /* “non-discounted-price” görünüm düzeni */
    .non-discounted-price strong{
        display: block;
        font-size: 18px;
        font-weight: 700;
        margin-top: 4px;
    }

    /*    .prices .discount-percent {
        color: #e43d51;
        font-weight: 600;
    }

    .old-product-price,
    .non-discounted-price,
    .prices .product-price {
        display: block;
        margin-left: 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        padding: 0px 0px 0px 0px;
    }
*/
    .prices .rental-price {
        text-align: left;
    }

    .product-collateral {
        max-width: none;
    }

    .product-variant-line {
        display: flex;
        column-gap: 30px;
        margin-top: 15px;
    }

    .variant-overview.mobile {
        display: none; /*selector string has no space!*/
    }

    .variant-overview .desktop {
        display: block; /*selector string has space!*/
    }

    .variant-picture {
        align-self: flex-start;
        flex: 0 0 300px;
    }

    .variant-overview {
        flex-grow: 1;
    }

    /* REVIEW PAGE */

    .product-reviews > .title {
        padding: 25px 0;
        font-size: 32px;
    }

    .write-review .review-rating {
        position: relative;
    }

        .write-review .review-rating > label {
            position: absolute;
            left: 0;
            width: auto;
            margin: 0;
        }

    .product-review-item .review-item-head {
        display: flex;
        justify-content: space-between;
        margin: 0 0 15px;
    }

    .product-review-item .review-title {
        max-width: calc(100% - 100px);
        margin-bottom: 0;
    }

    .product-review-item .product-review-box {
        margin-bottom: 0;
    }

    .product-review-item .review-item-content {
        display: flex;
    }

    .product-review-item .review-avatar {
        flex: 0 0 150px;
        max-width: 150px;
        margin: 0 30px 0 0;
    }

    .product-review-item .review-content {
        flex-grow: 1;
    }

    .product-review-item .review-reply {
        margin-top: 10px;
    }

    /* WISHLIST & COMPARE PAGE */

    .wishlist-content .buttons {
        flex-flow: row;
        max-width: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
    }

    .wishlist-add-to-cart-button {
        margin-left: auto;
    }

    .wishlist-page .share-info {
        margin: 40px 0 0;
    }

    .compare-products-mobile {
        display: none;
    }

    .compare-products-table {
        display: table;
        margin-top: -15px;
        border-top: 1px solid #eee;
    }

    .compare-products-clear-list {
        position: absolute;
        top: 35px;
        right: 5px;
        margin-bottom: 0;
        line-height: 44px;
    }

    /* CONTACT PAGES */

    .contact-page .topic-block,
    .apply-vendor-page .topic-block,
    .email-a-friend-page .title {
        margin-top: -10px;
    }

    /* ACCOUNT PAGES */

    .address-list-page .addresses,
    .order-list-page .order-list,
    .return-list-page .return-list,
    .gdpr-tools-page .gdpr-form {
        grid-template-columns: 49% 49%;
        grid-gap: 25px 2%;
        max-width: 900px;
    }

    /* SHOPPING CART */

    .order-progress li {
        max-width: 120px;
    }

    .order-progress a {
        display: inline-block;
        padding-top: 60px;
        font-size: 18px;
    }

    .cart-options .common-buttons {
        flex-flow: row;
        align-items: center;
        max-width: none;
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
    }

    .cart-options .tax-shipping-info {
        order: 3; /**/
        flex-grow: 1;
        margin: auto;
    }

    .tax-shipping-info ~ .update-cart-button {
        margin-right: auto;
    }

    .cart-options .estimate-shipping-button {
        order: 4; /**/
        margin-left: auto;
    }

    .cart-options .update-cart-button:before {
        content: "\e91d";
        position: relative;
        bottom: -1px;
        margin-right: 8px;
        font-size: 16px;
    }

    .cart-options .continue-shopping-button:before {
        content: "\e902";
        position: relative;
        bottom: -2px;
        margin-right: 8px;
        font-size: 18px;
    }

    .cart-options .estimate-shipping-button:before {
        content: "\e91e";
        margin-right: 8px;
        font-size: 31px;
    }

    .cart-footer {
        display: flex;
        column-gap: 4%;
    }

    .cart-collaterals {
        flex-grow: 1;
    }

    .checkout-attributes dt {
        margin: 0 0 10px;
        font-family: 'Nunito', serif;
        font-size: 24px;
        color: #000;
    }

    .checkout-attributes dd {
        margin: 0 0 20px;
    }

    .checkout-attributes select {
        width: 100%;
    }

    .cart-collaterals .title {
        margin: 0 0 10px;
        font-size: 24px;
    }

    .coupon-box, .giftcard-box {
        margin-bottom: 0;
    }

        .coupon-box + .giftcard-box {
            margin-top: 20px;
        }

    .cart-footer .totals {
        width: 48%;
        max-width: 480px;
    }

  .cart-footer .totals-txt {
    display: block;
    /*margin-bottom: 10px;*/
    font-family: 'Nunito', serif, Arial, sans-serif;
    font-size: 38px;
    line-height: 40px;
    font-weight: 800;
    letter-spacing: 0.022em;
    /*margin-bottom: 12px;*/
    padding: 0;
    transform: scaleY(1.2);
    transform-origin: center;
  }

    .terms-of-service {
        max-width: 470px;
        margin-left: 5px;
    }

        .terms-of-service label {
            display: inline-block;
        }

    /* CHECKOUT */

    .checkout-page .cart-options {
        text-align: right;
    }

    .checkout-page .cart-footer {
        justify-content: flex-end;
    }

    .cart-footer .totals-txt {
        display: block;
    }

    .pickup-in-store,
    .ship-to-same-address {
        max-width: none;
    }

    .checkout-page .address-grid {
        grid-template-columns: 49% 49%;
        grid-gap: 25px 2%;
        max-width: none;
    }

    .checkout-page .address-item {
        display: flex;
        flex-flow: column;
    }

    .checkout-page .unflex {
        align-self: flex-start;
    }

    .checkout-page .address-box {
        flex-grow: 1;
    }

    .confirm-order .separator {
        margin-bottom: 80px;
    }

    /* ORDER DETAILS */

    .order-review-data,
    .order-details-area,
    .shipment-details-area {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-template-rows: auto auto;
        grid-column-gap: 2%;
        max-width: none;
        text-align: center;
    }

        .order-review-data.full,
        .order-details-area.full,
        .shipment-details-area.full {
            grid-auto-flow: column;
        }

        .order-review-data > div,
        .order-details-area > div,
        .shipment-details-area > div {
            display: flex;
            flex-flow: column;
        }

        .order-review-data ul,
        .order-details-area ul,
        .shipment-details-area ul {
            flex-grow: 1;
        }

    .order-details-page .buttons {
        margin-top: -20px;
    }

    .order-details-page .options {
        text-align: right;
    }

    .order-details-page .totals {
        width: 48%;
        max-width: 410px;
        margin-left: auto;
    }

    /* BLOG & NEWS */

    .comment.blog-comment,
    .comment.news-comment {
        display: flex;
    }

    .comment-info {
        flex: 0 0 150px;
        max-width: 150px;
        margin-right: 30px;
    }

        .comment-info .user-info {
            margin: 0;
        }

    .comment-content {
        flex-grow: 1;
        flex-flow: column;
    }

    .comment-body {
        flex-grow: 1;
    }

    .news-list-homepage {
        margin-top: 70px !important;
    }

        .news-list-homepage .news-items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(48%,1fr));
            grid-gap: 40px 4%;
        }

        .news-list-homepage .news-item {
            display: flex;
            flex-flow: column;
            margin: 0 !important;
        }

        .news-list-homepage .news-body {
            flex-grow: 1;
        }

        .news-list-homepage .buttons {
            text-align: left;
        }

    /* PROFILE & INBOX */

    .private-message-view-page .message-head {
        margin-bottom: 25px;
        padding-bottom: 20px;
    }

    .private-message-view-page .message-body {
        padding: 0;
    }
}

@media all and (min-width: 1024px) {

    .cart-options .tax-shipping-info {
        max-width: none;
    }
}
